body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: pink;
    text-align: center;
    align-items: center;
}
h1 {
    color: #333;
}
#btn-boss {
    cursor: pointer;
    color: white;
    background-color: red;
}
#btn-fantome, #btn-loup, #btn-paladin {
    cursor: pointer;
    color: white;
    background-color: blue;
}
#btn-cle, #btn-chapeau {
    cursor: pointer;
    color: white;
    background-color: green;
}

h2 {
    color: #333;
    margin-top: 20px;

}